@model FlatMatchApp.Models.LeaseholderViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Leaseholder</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Leaseholder.FirstName" class="control-label"></label>
                <input asp-for="Leaseholder.FirstName" class="form-control" />
                <span asp-validation-for="Leaseholder.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Leaseholder.LastName" class="control-label"></label>
                <input asp-for="Leaseholder.LastName" class="form-control" />
                <span asp-validation-for="Leaseholder.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Leaseholder.ProfileUrl" class="control-label"></label>
                <input asp-for="Leaseholder.ProfileUrl" class="form-control" />
                <span asp-validation-for="Leaseholder.ProfileUrl" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Leaseholder.Property.Price" class="control-label"></label>
                <input asp-for="Leaseholder.Property.Price" class="form-control">
                <span asp-validation-for="Leaseholder.Property.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Leaseholder.Property.Type" class="control-label"></label>
                <input asp-for="Leaseholder.Property.Type" class="form-control">
                <span asp-validation-for="Leaseholder.Property.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Leaseholder.Property.NumberBedrooms" class="control-label"></label>
                <input asp-for="Leaseholder.Property.NumberBedrooms" class="form-control">
                <span asp-validation-for="Leaseholder.Property.NumberBedrooms" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Leaseholder.Property.isAvailable" class="control-label"></label>
                <input asp-for="Leaseholder.Property.isAvailable" class="form-control">
                <span asp-validation-for="Leaseholder.Property.isAvailable" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Leaseholder.Property.Address.StreetName" class="control-label"></label>
                <input asp-for="Leaseholder.Property.Address.StreetName" class="form-control">
                <span asp-validation-for="Leaseholder.Property.Address.StreetName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Leaseholder.Property.Address.ApartmentNumber" class="control-label"></label>
                <input asp-for="Leaseholder.Property.Address.ApartmentNumber" class="form-control">
                <span asp-validation-for="Leaseholder.Property.Address.ApartmentNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Leaseholder.Property.Address.City" class="control-label"></label>
                <input asp-for="Leaseholder.Property.Address.City" class="form-control">
                <span asp-validation-for="Leaseholder.Property.Address.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Leaseholder.Property.Address.State" class="control-label"></label>
                <input asp-for="Leaseholder.Property.Address.State" class="form-control">
                <span asp-validation-for="Leaseholder.Property.Address.State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Leaseholder.Property.Address.ZipCode" class="control-label"></label>
                <input asp-for="Leaseholder.Property.Address.ZipCode" class="form-control">
                <span asp-validation-for="Leaseholder.Property.Address.ZipCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">1. How important is it that you are able to smoke?</label>
                <input asp-for="Value[0]" class="form-control" />
                <span asp-validation-for="Value[0]" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">2. How important is it that you can consume alcohol?</label>
                <input asp-for="Value[1]" class="form-control" />
                <span asp-validation-for="Value[1]" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">3. How important is it to be able to host a party?</label>
                <input asp-for="Value[2]" class="form-control" />
                <span asp-validation-for="Value[2]" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">4. How important is it to have an in-house washer/dryer?</label>
                <input asp-for="Value[3]" class="form-control" />
                <span asp-validation-for="Value[3]" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">5. How important is it that your roommate is very clean?</label>
                <input asp-for="Value[4]" class="form-control" />
                <span asp-validation-for="Value[4]" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">6. How important is it to have a quiet environment?</label>
                <input asp-for="Value[5]" class="form-control" />
                <span asp-validation-for="Value[5]" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">7. How important is easy access to parking?</label>
                <input asp-for="Value[6]" class="form-control" />
                <span asp-validation-for="Value[6]" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">8. How important is it to have an air conditioner in the unit?</label>
                <input asp-for="Value[7]" class="form-control" />
                <span asp-validation-for="Value[7]" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">9. How important is it to have a gym in or near location?</label>
                <input asp-for="Value[8]" class="form-control" />
                <span asp-validation-for="Value[8]" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
@section scripts{
    <script type="text/javascript">

        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script> 
}