@model FlatMatchApp.Models.LeaseholderViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Leaseholder</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Leaseholder.FirstName" class="control-label"></label>
                <input asp-for="Leaseholder.FirstName" class="form-control" />
                <span asp-validation-for="Leaseholder.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Leaseholder.LastName" class="control-label"></label>
                <input asp-for="Leaseholder.LastName" class="form-control" />
                <span asp-validation-for="Leaseholder.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Leaseholder.PropertyId" class="control-label"></label>
                <select asp-for="Leaseholder.PropertyId" class ="form-control" asp-items="ViewBag.PropertyId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Leaseholder.UserId" class="control-label"></label>
                <select asp-for="Leaseholder.UserId" class ="form-control" asp-items="ViewBag.UserId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Leaseholder.ProfileUrl" class="control-label"></label>
                <input asp-for="Leaseholder.ProfileUrl" class="form-control" />
                <span asp-validation-for="Leaseholder.ProfileUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
