@model FlatMatchApp.Models.LeaseholderViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Leaseholder</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Leaseholder.Id" />
            <div class="form-group">
                <label asp-for="Leaseholder.FirstName" class="control-label"></label>
                <input asp-for="Leaseholder.FirstName" class="form-control" />
                <span asp-validation-for="Leaseholder.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Leaseholder.LastName" class="control-label"></label>
                <input asp-for="Leaseholder.LastName" class="form-control" />
                <span asp-validation-for="Leaseholder.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Leaseholder.Property.Address.StreetName" class="control-label"></label>
                <input asp-for="Leaseholder.Property.Address.StreetName" class="form-control" />
                <span asp-validation-for="Leaseholder.Property.Address.StreetName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Leaseholder.Property.Address.ApartmentNumber" class="control-label"></label>
                <input asp-for="Leaseholder.Property.Address.ApartmentNumber" class="form-control" />
                <span asp-validation-for="Leaseholder.Property.Address.ApartmentNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Leaseholder.Property.Address.City" class="control-label"></label>
                <input asp-for="Leaseholder.Property.Address.City" class="form-control" />
                <span asp-validation-for="Leaseholder.Property.Address.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Leaseholder.Property.Address.State" class="control-label"></label>
                <input asp-for="Leaseholder.Property.Address.State" class="form-control" />
                <span asp-validation-for="Leaseholder.Property.Address.State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Leaseholder.Property.Address.ZipCode" class="control-label"></label>
                <input asp-for="Leaseholder.Property.Address.ZipCode" class="form-control" />
                <span asp-validation-for="Leaseholder.Property.Address.ZipCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
