@model FlatMatchApp.Models.Leaseholder

@{
    ViewData["Title"] = "ProfileMain";
}

<h1>ProfileMain</h1>
<h3>Welcome, @Model.FirstName!</h3>
@*Nothing done here so far. Need to make changes to make this into an actual profile page*@

<div>
    <h4>Leaseholder</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Preferences)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Preferences)
            @*Currently null until we assign from the database using the junction table in the controller
                Would be cool to give them the option to change preferences from here*@
    </dl>
    @*Probably want something here with their available room. At least a link to where they can see it?*@

</div>
<div>
    <a asp-action="Index">Search</a>
</div>
