@model FlatMatchApp.Models.RenterViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_RenterLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

<h4>Renter</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Renter.FirstName" class="control-label"></label>
                <input asp-for="Renter.FirstName" class="form-control" />
                <span asp-validation-for="Renter.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Renter.LastName" class="control-label"></label>
                <input asp-for="Renter.LastName" class="form-control" />
                <span asp-validation-for="Renter.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Renter.FacebookSocial" class="control-label"></label>
                <input asp-for="Renter.FacebookSocial" class="form-control" />
                <span asp-validation-for="Renter.FacebookSocial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Renter.InstagramSocial" class="control-label"></label>
                <input asp-for="Renter.InstagramSocial" class="form-control" />
                <span asp-validation-for="Renter.InstagramSocial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Renter.TwitterSocial" class="control-label"></label>
                <input asp-for="Renter.TwitterSocial" class="form-control" />
                <span asp-validation-for="Renter.TwitterSocial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Renter.ProfileUrl" class="control-label"></label>
                <input asp-for="Renter.ProfileUrl" class="form-control" />
                <span asp-validation-for="Renter.ProfileUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

</body>
</html>
