@model FlatMatchApp.Models.Renter

@{
    ViewData["Title"] = "ProfileMain";
}

<h1>ProfileMain</h1>
<h3>Welcome, @Model.FirstName!</h3>
<img src="@Model.ProfileUrl" />

<div>
    <h4>Leaseholder</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Preferences)
        </dt>
        <dd class="col-sm-10">
            @{
                foreach (Preference preference in Model.Preferences)
                {
                    Html.DisplayFor(model => model.Preferences);
                    //Won't format correctly, but this is the basic idea
                }
            }
            @*Currently null until we assign from the database using the junction table in the controller
                Would be cool to give them the option to change preferences from here*@
    </dl>

</div>
<div>
    <a asp-action="Index">Search</a>
</div>
